{% extends "base.html" %}
{% block title %}Dashboard — HRIS{% endblock %}
{% block page_title %}Dashboard{% endblock %}

{% block topbar_actions %}
  {% if user.is_hr_admin %}
  <a href="{% url 'hris-employee-add' %}" class="btn btn-primary btn-sm">Add Employee</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% if user.is_hr_admin %}
    {% include "partials/dashboard/_hr_dashboard.html" %}
  {% elif user.is_manager %}
    {% include "partials/dashboard/_manager_dashboard.html" %}
  {% else %}
    {% include "partials/dashboard/_employee_dashboard.html" %}
  {% endif %}
{% endblock %}
